.header {
  position: relative;
  width: 100%;
  background: #0e0e0e;
  color: #ffffff;
  font-family: "Sacramento", cursive;
  font-weight: 300;
  padding: 1em 0;
  text-align: center;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;

    .header__logo {
      display: flex;
      align-items: center;
      span {
        margin: 0 0.1em;
        font-size: 1.5em;
      }
    }

    .header__hamburger-icon {
      display: none; // Hide the hamburger icon by default for larger screens
      flex-direction: column;
      cursor: pointer;
      span {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
        transition: 0.4s;
      }
    }

    .header__nav-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        .header__nav-links-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 1em;
          .header__route {
            position: relative;
            a {
              color: #fff;
              text-decoration: none;
              font-size: 1.2em;
              &:hover {
                color: #00d0f0;
              }
            }
          }
          .header__route-bg {
            width: 100%;
            height: 2px;
            background-color: #00d0f0;
            transition: all 0.3s;
            transform: scaleX(0);
          }
          .header__route-bg-animation {
            transform: scaleX(1);
          }
        }
      }
    }

    .header__social {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: auto;
      p {
        margin: 0 0.5em;
        a {
          color: #fff;
          transition: color 0.3s;
          &:hover {
            color: #00d0f0;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .header__hamburger-icon {
      display: flex; // Show the hamburger icon for smaller screens
    }
    .header__nav-links {
      display: none; // Hide the nav links by default for smaller screens
      flex-direction: column;
      width: 100%;
      ul {
        flex-direction: column;
        .header__nav-links-container {
          margin: 1em 0;
        }
      }
    }
    .header__nav-links-active {
      display: flex; // Show the nav links when active
    }
  }
}
